.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .btn {
    display: block;
    width: 100%;
  }
  
  h3 {
    margin-top: 20px;
  }
  


  /* Style inputs */
  input[type=text],input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Style the submit button */
  button{
    width: 100%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Add a background color to the submit button on mouse-over */
  button:hover {
    background-color: #45a049;
  }
  